[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "re"]
	path = re
	url = https://github.com/pythonicr/re
[submodule "strs"]
	path = strs
	url = https://github.com/pythonicr/strs
